
{% extends "base.html" %}

{% block content %}


<script> 
var i = 3;

function sett() 
{ 
    if(i >= 0) {
        document.getElementById("theDiv").innerHTML=i; 
        setTimeout("sett()",1000); 
    } else if(i > -2) {
        setTimeout("sett()",1000); 
    } else {
        document.getElementById("showDiv").style.display = "block";
        i = 0;
    }

    i--;
} 

setTimeout("sett()",1000); 

</script>

<table border="0" style="width:100%;max-width:100%">
    <tr>
        <td colspan="2"><hr/></td>
    </tr>

    <tr>
        <td colspan="2" style="text-align:center">
            <h5> &#x5982;&#x679C;&#x4E0B;&#x8F7D;&#x6CA1;&#x6709;&#x81EA;&#x52A8;&#x5F00;&#x59CB; &#x53EF;&#x80FD;&#x662F;&#x63D0;&#x4F9B;&#x5B58;&#x50A8;&#x7684;&#x7F51;&#x7AD9;&#x4E0D;&#x652F;&#x6301;  &#x8BF7;&#x624B;&#x52A8;&#x70B9;&#x51FB;&#x4E0B;&#x8F7D;&#x94FE;&#x63A5;&#x8FDB;&#x884C;&#x4E0B;&#x8F7D;  </h5>
            <h5> &#x8BF7;&#x8BA4;&#x51C6;&#x6587;&#x5B57;&#x7248; download &#x94FE;&#x63A5; &#x4E0D;&#x8981;&#x9519;&#x70B9;&#x5E7F;&#x544A; </h5>
            <h5> &#x60A8;&#x8FD8;&#x53EF;&#x4EE5;&#x901A;&#x8FC7;&#x4E0B;&#x65B9;&#x7684;&#x94FE;&#x63A5;&#x8FDB;&#x5165;&#x6DD8;&#x5B9D;&#x7F51; &#x8D2D;&#x4E70;&#x6B63;&#x7248;&#x4E66; </h5>
            <h5> &#x7F51;&#x7AD9;&#x9700;&#x8981;&#x751F;&#x5B58; &#x5E7F;&#x544A;&#x5E26;&#x6765;&#x7684;&#x4E0D;&#x4FBF; &#x656C;&#x8BF7;&#x8C05;&#x89E3; </h5>

            <div id="taobao_search">
                <script type="text/javascript"> (function(win,doc){ var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0]; if (!win.alimamatk_show) { s.charset = "gbk"; s.async = true; s.src = "http://a.alimama.cn/tkapi.js"; h.insertBefore(s, h.firstChild); }; var o = { pid: "mm_20252284_8026170_27130178", appkey: "", unid: ""}; win.alimamatk_onload = win.alimamatk_onload || []; win.alimamatk_onload.push(o); })(window,document);</script>

                <a data-type="6" data-tmpl="573x66" data-tmplid="140" data-style="2" data-border="0" biz-s_logo="1" biz-s_hot="1" href="#">&#x641C;&#x7D22;</a>
            </div>
        </td>
    </tr>

    <tr>
        <td style="width:50%;max-width:50%;min-width:50%">
            <span>
            <!-- taobao keyword -->
            <script type="text/javascript"> (function(win,doc){ var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0]; if (!win.alimamatk_show) { s.charset = "gbk"; s.async = true; s.src = "http://a.alimama.cn/tkapi.js"; h.insertBefore(s, h.firstChild); }; var o = { pid: "mm_20252284_8026170_27134732", appkey: "", unid: "" }; win.alimamatk_onload = win.alimamatk_onload || []; win.alimamatk_onload.push(o); })(window,document);</script>

            <a data-type="2" biz-keyword="&#x56FE;&#x4E66; &#x6559;&#x7A0B;" data-tmpl="290x380" data-tmplid="10" data-rd="2" data-style="2" data-border="1" href="#">&#x56FE;&#x4E66; &#x6559;&#x7A0B;</a>
            <!-- end taobao keyword -->
            </span>
        </td>
       
        <td style="width:50%;max-width:50%;min-width:50%">
            <span>
            <!-- taobao ren qun ding xiang -->
            <script type="text/javascript"> (function(win,doc){ var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0]; if (!win.alimamatk_show) { s.charset = "gbk"; s.async = true; s.src = "http://a.alimama.cn/tkapi.js"; h.insertBefore(s, h.firstChild); }; var o = { pid: "mm_20252284_8026170_27130804", appkey: "", unid: ""}; win.alimamatk_onload = win.alimamatk_onload || []; win.alimamatk_onload.push(o); })(window,document);</script>

            <a data-type="3" data-tmpl="290x380" data-tmplid="30" data-rd="2" data-style="2" data-border="1" href="#"></a>
            <!-- end taobao ren qun ding xiang -->
            </span>
        </td>
    </tr>

    <tr>
        <td colspan="2" style="height:150px;min-height:150px; text-align:center">

            <h3> Download will start after <span id="theDiv">4</span> second ...</h3><br/> 

            <div  id="showDiv" style="display:none">
            If it doesn't download automatic, chick the download button manually. <br/>
(&#x5982;&#x679C;&#x6CA1;&#x6709;&#x81EA;&#x52A8;&#x5F00;&#x59CB;&#x4E0B;&#x8F7D;&#xFF0C;&#x6709;&#x53EF;&#x80FD;&#x662F;&#x5730;&#x5740;&#x5916;&#x94FE;&#x7684;&#x7F51;&#x7AD9;&#x4E0D;&#x652F;&#x6301;&#xFF0C;&#x8BF7;&#x624B;&#x52A8;&#x70B9;&#x51FB;&#x4E0B;&#x8F7D;&#x6309;&#x94AE;&#x8FDB;&#x884C;&#x4E0B;&#x8F7D;&#x3002;) <br/><br/>
               <a href="{{url.url}}" target="_blank"> <h5>download</h5> </a>
            </div>

        </td>
    </tr>


    <tr>
        <td colspan="2">

           <!-- Begin BidVertiser code -->
           <div id="bid_ad">
               <SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=630880&bid=1580850" type="text/javascript"></SCRIPT>
               <noscript><a href="http://www.bidvertiser.com/bdv/BidVertiser/bdv_publisher_toolbar_creator.dbm">custom toolbar</a></noscript>
           </div> <!-- div bid_ad -->
           <!-- End BidVertiser code --> 
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <!-- Begin BidVertiser Referral code -->
            <script language="JavaScript">var bdv_ref_pid=630880;var bdv_ref_type='i';var bdv_ref_option='p';var bdv_ref_eb='0';var bdv_ref_gif_id='ref_728x90_blue_pbl';var bdv_ref_width=728;var bdv_ref_height=90;</script>
            <script language="JavaScript" src="http://cdn.bidvertiser.com/referral_button.html?pid=630880"></script>
<noscript><a href="http://www.bidvertiser.com/bdv/BidVertiser/bdv_publisher_toolbar_creator.dbm">custom toolbar</a></noscript>
            <!-- End BidVertiser Referral code -->
        </td>
    </tr>


    <tr>
        <td colspan="2">
            <!-- Begin BidVertiser code -->
            <SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=630880&bid=1581196" type="text/javascript"></SCRIPT>
            <noscript><a href="http://www.bidvertiser.com/bdv/BidVertiser/bdv_publisher_toolbar_creator.dbm">custom toolbar</a></noscript>
            <!-- End BidVertiser code --> 
        </td>
    </tr>


    <tr>
        <td colspan="2">
            <!-- Begin BidVertiser Referral code -->
            <script language="JavaScript">var bdv_ref_pid=630880;var bdv_ref_type='i';var bdv_ref_option='ah';var bdv_ref_eb='0';var bdv_ref_gif_id='ref_728x90_blue';var bdv_ref_width=728;var bdv_ref_height=90;var bdv_ref_loc=1580850;</script>
            <script language="JavaScript" src="http://cdn.bidvertiser.com/referral_button.html?pid=630880"></script>
            <noscript><a href="http://www.bidvertiser.com/bdv/BidVertiser/bdv_publisher_toolbar_creator.dbm">custom toolbar</a></noscript>
            <!-- End BidVertiser Referral code -->
        </td>
    </tr>
</table>

{% endblock %}

