
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
</head>

<body>

<form action="bookbarend" method="get">


书名<input type="text" name="title">
出版社<input type="text" name="publisher">
出版时间<input type="text" name="publisher_time">
类别
<select name="category" >
<option>--</option>
<option>计算机</option>
<option>英语</option>
<option>哲学</option>
</select>


标签<input type="text" name="tag">
作者<input type="text" name="author_name">
译者<input type="text" name="translator_name">
ISBN<input type="text" name="isbn">
图片URL<input type="text" name="pic_url">



  <input type="submit" value="Submit" />
</form>

</body>

</html>

