{% extends "base.html" %}

{% block content %}


add book ok! <br/><br/>

thanks<br/><br/>


You Can:<br/><br/>


1. <a href="/bookbar/bookalldetail/{{book.id}}/0/0/0/">view this book</a> <br/> <br/>

2. <a href="/bookbar/adddownloadurl/{{book.id}}/">add download url</a> <br/> <br/>

3. add article <br/> <br/>

4. <a href="/bookbar/addbook/">continue add a book</a> <br/><br/>

5. <a href="/bookbar/sharebook/">continue share a book</a> <br/><br/>

6. <a href="/">go home</a> <br/> <br/>

{% endblock %}

