{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/global.css"/>
{% endblock %}


{% block content %}

<ul>
<table border="0">
    {% for article in articles %}
    <tr>
        <td><li></li></td>
        <td class="td_category"> [{{article.category}}]</td>
        <td class="td_title"><a href="/bookbar/articledetail/{{article.id}}/0/">{{article.title|slice:"30"}}</a></td>
        <td class="td_user">{{article.user_name|slice:"15"}}</td>
        <td class="td_time">{{article.create_time|date:"m-d i:s"}}</td>
        <td class="td_num">{{article.show_num}}</td>
    </tr>
    {% endfor %}
</table>
</ul>

<hr/>

<table>
    <tr>
        <td>
            {{current_page_show}}/{{total_page}}
        </td>
        <td>
            <a href="/bookbar/articlelist/{{category}}/{{prev_page}}/">Prev Page</a> 
            <a href="/bookbar/articlelist/{{category}}/{{next_page}}/">Next Page</a>
        </td>
        <td>
            <a href="/bookbar/addarticle">add article</a>
        </td>
    </tr>
</table>


{% endblock %}
