
{% extends "base.html" %}

{% block head %}
 
<title>
{{article.title}}
</title>

<meta name="description" content="&#x81F4;&#x529B;&#x4E8E;&#x6253;&#x9020;&#x4E00;&#x4E2A;&#x8BFB;&#x4E66; &#x5B66;&#x4E60; &#x4EA4;&#x6D41;&#x7684;&#x5E73;&#x53F0;"/>
<meta name="keywords" content="{{article.title}},{{book.title}}"/>

<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3544153356" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block content %}

<table>
    <tr>
        <td style="word-wrap:break-word;word-break:break-all;">
           <h2> {{article.title}} </h2>
        </td>
    </tr>

    <tr>
       <td> <hr/> </td>
    </tr>

    <tr>
        <td style="word-wrap:break-word;word-break:break-all;">
            {% autoescape off %}
            {{article.content}}
            {% endautoescape %}
        </td>
   </tr>

   <tr>
      <td>
          <br/> <br/> <br/>

<!-- start baidu share -->
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="&#x5206;&#x4EAB;&#x5230;QQ&#x7A7A;&#x95F4;"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="&#x5206;&#x4EAB;&#x5230;&#x65B0;&#x6D6A;&#x5FAE;&#x535A;"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="&#x5206;&#x4EAB;&#x5230;&#x817E;&#x8BAF;&#x5FAE;&#x535A;"></a><a href="#" class="bds_renren" data-cmd="renren" title="&#x5206;&#x4EAB;&#x5230;&#x4EBA;&#x4EBA;&#x7F51;"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="&#x5206;&#x4EAB;&#x5230;&#x5FAE;&#x4FE1;"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":["mshare","qzone","tsina","bdysc","weixin","renren","tqq","bdxc","tqf","douban","tsohu","bdhome","sqq","thx","qq","ibaidu","taobao","hi","baidu","sohu","t163","qy","meilishuo","mogujie","diandian","huaban","leho","share189","duitang","tfh","youdao","qingbiji","people","ff","kanshou","yaolan","xg","iguba","twi","s51","linkedin","print"],"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"&#x5206;&#x4EAB;&#x5230;&#xFF1A;","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- end baidu share -->

        </td>
    </tr>
</table>


<div id="map_book_div">

{% if book_dict.total_page %}
<hr/>
<h3> &#x5173;&#x8054;&#x56FE;&#x4E66;</h3>

<ul>
<table border="0">
    <tr>
        <th></th>
        <th class="td_category"></th>
        <th class="td_title"></th>
        <th class="td_tag"></th>
    </tr>

    {% for book in book_dict.books %}
    <tr>
        <td><li></li></td>
        <td>[{{book.category}}] </td>
        <td><a href="/bookbar/bookalldetail/{{book.id}}/0/0/0/">{{book.title|slice:"30"}}</a></td>
        <td>{{book.tag|slice:"30"}}</td>
    </tr>
    {% endfor %}

    <tr>
        <td> </td>
        <td>{{book_dict.current_page_show}}/{{book_dict.total_page}}</td>
        <td> 
            <a href="/bookbar/articledetail/{{article.id}}/{{book_dict.prev_page}}/{{comment_dict.current_page}}/#map_book_div">Prev</a>
            <a href="/bookbar/articledetail/{{article.id}}/{{book_dict.next_page}}/{{comment_dict.current_page}}/#map_book_div">Next</a>
        </td>
        <td> </td>
    </tr>
</table>
</ul>

{% endif %}
</div> <!-- map_book_div -->

<hr/><br/><br/>


<wb:comments url="auto" border="y" fontsize="12" width="auto" skin="silver" appkey="3544153356" ralateuid="5110020820" ></wb:comments>

<div id="comment_div" style="display:none;">


{% if comment_dict.total_page %}
<h3> &#x56FE;&#x4E66;&#x8BC4;&#x8BBA;</h3>

<table border="0" style="max-width:65%">

{% for comment in comment_dict.comments %}
    <tr>
        <td colspan="2" style="word-wrap:break-word;word-break:break-all;padding-bottom:10px;padding-top:20px;" > {{comment.content}}</td>    
    </tr>

    <tr>

        <td> {{comment.user_name|slice:"15"}} </td>
        <td> {{comment.create_time|date:"m-d i:s"}}</td>
    </tr>
{% endfor %}

    <tr>
        <td>
            {{comment_dict.current_page_show}}/{{comment_dict.total_page}}
        </td>
        <td>
            <a href="/bookbar/articledetail/{{article.id}}/{{book_dict.current_page}}/{{comment_dict.prev_page}}/#comment_div">Prev</a> <a href="/bookbar/articledetail/{{article.id}}/{{book_dict.current_page}}/{{comment_dict.next_page}}/#comment_div">Next</a>
        </td>
    </tr>
</table>
{% endif %}

<hr/>
</div> <!-- comment div -->


<div style="display:none;">
<form action="" method="post">
    {% csrf_token %}
    <table border="1">
        <tr>
            {{commentform.content}}
        <tr>
            <td><input type="submit" value="&#x6DFB;&#x52A0;&#x8BC4;&#x8BBA;"></td>
        </tr>
    </table>
</form>
</div>

{% endblock %}
