
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset=utf-8 />
    <meta http-equiv="content-style-type" content="text/css"/>
    <meta http-equiv="content-script-type" content="text/javascript"/>
    <title>book</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/global.css"/>

    {% block head %}  
    {% endblock %} 
</head>

<body>

    <div id="body_div">
        <div id="header_div">   
        {% block header %}  
            {% include 'header.html' %}
        {% endblock %} 
        </div>

        <div id="content_div">  
        {% block content %} 

        {% endblock %} 
        </div>

        <div id="footer_div">   
        {% block footer %}  

        {% endblock %} 
        </div>
    <div>

    <div id="baidu_statistics">
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F106ec048090ea151aa771c78588d3cf5' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>

</body>

</html>

