
{% extends "base.html" %}

{% block head %}
<title>
{{book.title}}
</title>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/global.css"/>
{% endblock %}

{% block content %}

{% include 'bookdetail.html' %}

<hr/>

<h3>&#x4E0B;&#x8F7D;&#x5730;&#x5740;</h3>
{% if url_dict.urls.count %}
<ul>
<table>
    {% for url in url_dict.urls %}
    <tr>
        <td><li></li></td>
        <td class="td_title"> 
            <a href="/bookbar/downloadurldetail/{{book.id}}/0/">{{url.filename|slice:"30"}}{{url.extension_name}}</a>
        </td>
        <td class="td_user"> {{url.user_name|slice:"15"}} </td>
        <td class="td_time"> {{url.create_time|date:"m-d i:s"}} </td>
        <td class="td_num"> {{url.download_num}} </td>
    </tr>
    {% endfor %}
</table>
</ul>
{% endif %}

<table border="0">
    <tr>
        <td> {{url_dict.current_page_show}} / {{url_dict.total_page}} </td>
        <td>
            <a href="/bookbar/bookalldetail/{{book.id}}/{{url_dict.prev_page}}/{{article_dict.current_page}}/{{comment_dict.current_page}}/">PrevPage</a>
        </td>
        <td>
            <a href="/bookbar/bookalldetail/{{book.id}}/{{url_dict.next_page}}/{{article_dict.current_page}}/{{comment_dict.current_page}}/">NextPage</a>
        </td>
        <td>
            <a href="/bookbar/adddownloadurl/{{book.id}}/">Add a new downloadurl </a>
        </td>
    </tr>
</table>

<hr/>

<h3>&#x5173;&#x8054;&#x6587;&#x7AE0;</h3>
<ul>
<table border="0">
    {% for article in article_dict.articles %}
    <tr>
        <td><li></li></td>
        <td class="td_title"> 
            <a href="/bookbar/articledetail/{{book.id}}/0/0/">{{article.title|slice:"30"}} </a>
        </td>
        <td class="td_user"> {{article.user_name|slice:"15"}} </td>
        <td class="td_time"> {{article.create_time|date:"m-d i:s"}} </td>
        <td class="td_num"> {{article.show_num}}</td>
    </tr>
    {% endfor %}
</table>
</ul>

<table>
    <tr>
        <td> {{article_dict.current_page_show}} / {{article_dict.total_page}} </td>
        <td>
            <a href="/bookbar/bookalldetail/{{book.id}}/{{url_dict.current_page}}/{{article_dict.prev_page}}/{{comment_dict.current_page}}/">Prev</a>
        </td>
        <td>
            <a href="/bookbar/bookalldetail/{{book.id}}/{{url_dict.current_page}}/{{article_dict.next_page}}/{{comment_dict.current_page}}/">Next</a>
        </td>

        <td>
            <a style="display:none" href="/bookbar/addarticle?bookname={{book.title}}">Add a new article </a>
        </td>
    </tr>
</table>

<hr/>

<h3> &#x56FE;&#x4E66;&#x8BC4;&#x8BBA;</h3>
{% if comment_dict.comments.count %}
<table border="0" style="max-width:65%">
    {% for comment in comment_dict.comments %}
    <tr>
        <td colspan="2" style="word-wrap:break-word;word-break:break-all;padding-bottom:10px;padding-top:20px;" > {{comment.content}}</td>    
    </tr>

    <tr>
        <td> {{comment.user_name|slice:"15"}} </td>
        <td> {{comment.create_time|date:"m-d i:s"}}</td>
    </tr>
    {% endfor %}

    <tr>
        <td>{{comment_dict.current_page_show}} / {{comment_dict.total_page}}</td>
        <td>
            <a href="/bookbar/bookalldetail/{{book.id}}/{{url_dict.current_page}}/{{article_dict.current_page}}/{{comment_dict.prev_page}}/">Prev</a>
            <a href="/bookbar/bookalldetail/{{book.id}}/{{url_dict.current_page}}/{{article_dict.current_page}}/{{comment_dict.next_page}}/">Next</a>
        </td>
    </tr>
</table>
{% endif %}


<form action="" method="post">
    {% csrf_token %}
    <table border="1">
        <tr>
             {{commentform.content}} 
        <tr>
        </tr>
            <td><input type="submit" value="&#x6DFB;&#x52A0;&#x8BC4;&#x8BBA;"></td>
        </tr>
    </table>
</form>

{% endblock %}
