
{% extends "base.html" %}
{% block content %}

<div style="width:800px;margin:20px auto;">

<h4> max download url </h4>
<ul>
    <table>
    {% for url in max_download_urls %}
    <tr>
         <td><li></li></td>
         <td><a href="/bookbar/downloadurldetail/{{url.id}}/0">{{url.filename}}{{url.extension_name}}</a> </td>
         <td>{{url.cleartype}}   </td>
         <td>{{url.download_num}} </td>
    </tr>
    {% endfor %}
    </table>
</ul>

<h4> max show article </h4>
<ul>
    {% for article in max_show_articles %}
    <li> 
    <a href="/bookbar/articledetail/{{article.id}}/0/">{{article.title}} {{article.show_num}} {{article.create_time}}</a>
    </li>
    {% endfor %}
</ul>

<h4> latest download url </h4>
<ul>
    {% for url in latest_download_urls %}
    <li> 
        <a href="/bookbar/downloadurldetail/{{url.id}}/0">{{url.filename}} {{url.extension_name}} {{url.clear_type}} {{url.create_time}} </a>
    </li>
    {% endfor %}
</ul>

<h4> latest show article </h4>
<ul>
    {% for article in latest_show_articles %}
    <li> 
     <a href="/bookbar/articledetail/{{article.id}}/0/">   {{article.title}} {{article.show_num}} {{article.create_time}} </a>
    </li>
    {% endfor %}
</ul>

<h4> good read method</h4>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
</ul>

</div>

{% endblock %}
