<style type="text/css">

#title {
    height:25px;
    max-height:25px;
    min-height:25px;

    width:150px;
    max-width:150px;
    min-width:150px;
}

#value {
    height:25px;
    max-height:25px;
    min-height:25px;

    width:250px;
    max-width:250px;
    min-width:250px;
}

#book_pic_img {
    height:100px;
    max-height:100px;
    min-height:100px;

    width:100px;
    max-width:100px;
    min-width:100px;
}

#ad {
    height:100px;
    max-height:100px;
    min-height:100px;

    width:100px;
    max-width:100px;
    min-width:100px;
}

</style>


<table border="0" style="width:100%">
    <tr>
        <td colspan="3" style="height:50px"></td>
    </tr>

    <tr>
        <td style="width:200px;height:250px">
            <img style="width:100%;height:100%" src="{{book.pic_url}}"/>
        </td>

        <td>
            <h2> {{book.title}} </h2> <br/> 

            {% if book.author_name %}
                {{book.author_name}} &#x8457; <!-- zhu -->
            {% endif %}

            {% if book.translator_name %}
                {{book.translator_name}} &#x8BD1; <!-- yi --> 
            {% endif %}

            <br/><br/>

            {% if book.category %}
                &#x5206;&#x7C7B;: {{book.category}} <br/> <br/>
            {% endif %}

            {% if book.tag %}
                &#x6807;&#x7B7E;: {{book.tag}} <br/><br/>
            {% endif %}

            {% if book.publisher %}
                {{book.publisher}} 
            {% endif %}

            {% if book.publisher_time %}
                {{book.publisher_time|date:"Y-m"}}
            {% endif %}

            <br/><br/>

            {% if book.isbn %}
                ISBN: {{book.isbn}} <br/><br/>
            {% endif %}

            <a target="_blank" href="http://www.amazon.cn/b?_encoding=UTF8&camp=536&creative=3200&linkCode=ur2&node=658414051&tag=jintianfree-23">&#x4E9A;&#x9A6C;&#x900A;&#x8D2D;&#x4E70;</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=jintianfree-23&l=ur2&o=28" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

        </td>

        <td style="width:300px;height:250px">
            <iframe src="http://rcm-cn.amazon-adsystem.com/e/cm?t=jintianfree-23&o=28&p=12&l=ur1&category=books&banner=17QS543P7Q3HA98XZV82&f=ifr" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </td>
    </tr>

    <tr>
        <td colspan="3" style="height:50px"></td>
    </tr>
</table>

