
{% extends "base.html" %}
{% block content %}

<div style="width:800px;margin:20px auto;">

<h4> max download url </h4>
<ul>
    <table>
    {% for url in max_download_urls %}
    <tr>
         <td><li></li></td>
         <td><a href="/bookbar/downloadurldetail/{{url.id}}/0">{{url.filename}}{{url.extension_name}}</a> </td>
         <td>{{url.cleartype}}   </td>
         <td>{{url.download_num}} </td>
    </tr>
    {% endfor %}
    </table>
</ul>

<h4> max show article </h4>
<ul>
    <table>
    {% for article in max_show_articles %}
    <tr>
         <td><li></li></td>
         <td> <a href="/bookbar/articledetail/{{article.id}}/0/">{{article.title}}</a></td>
         <td>{{article.show_num}}</td>
         <td>{{article.create_time|date:"Y-m-d H:i:s"}}</td>
    </tr>
    {% endfor %}
    </table>
</ul>

<h4> latest download url </h4>
<ul>
    <table>
    {% for url in latest_download_urls %}
    <tr>
         <td><li></li></td>
         <td><a href="/bookbar/downloadurldetail/{{url.id}}/0">{{url.filename}} {{url.extension_name}}</a></td>
         <td>{{url.clear_type}}</td>
         <td>{{url.create_time|date:"Y-m-d H:i:s"}}</td>
    </tr>
    {% endfor %}
    </table>
</ul>

<h4> latest show article </h4>
<ul>
    <table>
    {% for article in latest_show_articles %}
    <tr>
         <td><li></li></td>
         <td><a href="/bookbar/articledetail/{{article.id}}/0/">{{article.title}}</a></td>
         <td>{{article.show_num}}</td>
         <td>{{article.create_time|date:"Y-m-d H:i:s"}}</td>
    </tr>
    {% endfor %}
    </table>
</ul>

<h4> good read method</h4>
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
</ul>

</div>

{% endblock %}
