
{% extends "base.html" %}

{% block head %}

<title>book</title>

<meta name="description" content="&#x81F4;&#x529B;&#x4E8E;&#x6253;&#x9020;&#x4E00;&#x4E2A;&#x8BFB;&#x4E66; &#x5B66;&#x4E60; &#x4EA4;&#x6D41;&#x7684;&#x5E73;&#x53F0;"/>
<meta name="keywords" content="&#x7535;&#x5B50;&#x4E66;,&#x4E0B;&#x8F7D;,&#x7ECF;&#x5178;&#xFF0C;&#x4E66;&#x7C4D;&#xFF0C;,pdf, linux,bookbook"/>

{% endblock %}


{% block content %}

<div style="width:100%;margin:20px auto;">

<ul>
    <table border="0">
    <tr>
        <td colspan="6">
            <h4> &#x6700;&#x591A;&#x4E0B;&#x8F7D; <!-- zui duo xia zai --> </h4>
        </td>
    </tr>

    {% for url in max_download_urls %}
    <tr>
         <td><li></li></td>
         <td class="td_category"> [{{url.book.category}}] </td>
         <td class="td_title">
             <a href="/bookbar/downloadurldetail/{{url.id}}/0">{{url.filename|slice:"30"}}{{url.extension_name}}</a> 
         </td>
         <td class="td_user">{{url.user_name|slice:"15"}}</td>
         <td class="td_time">{{url.create_time|date:"m-d H:i"}}</td>
         <td class="td_num" >{{url.download_num}} </td>
         <td><a href="/bookbar/downloadbook/{{url.id}}/">&#x4E0B;&#x8F7D;</a></td>
    </tr>
    {% endfor %}

    <tr>
        <td colspan="4"> 
        </td>
        <td>
            <a href="/bookbar/downloadurlalllist/0/0/">view more </a> 
        </td>
        <td></td>
    </tr>
    </table>
</ul>


<ul>
    <table>
    <tr>
        <td colspan="6"><h4> &#x6700;&#x591A;&#x9605;&#x8BFB; </h4></td> <!-- zui duo xian shi -->
    </tr>

    {% for article in max_show_articles %}
    <tr>
         <td><li></li></td>
         <td class="td_category"> [{{article.category}}]</td>
         <td class="td_title"> 
             <a href="/bookbar/articledetail/{{article.id}}/0/0/">{{article.title|slice:"30"}}</a>
         </td>
         <td class="td_user">{{article.user_name|slice:"15"}}</td>
         <td class="td_time">{{article.create_time|date:"m-d i:s"}}</td>
         <td class="td_num" >{{article.show_num}}</td>
    </tr>
    {% endfor %}

    <tr>
        <td colspan="4"> 
        </td>
        <td>
            <a href="/bookbar/booksmalllist/0/">view more </a> 
        </td>
        <td></td>
    </tr>
    </table>
</ul>

<ul>
    <table>
    <tr>
        <td colspan="6"> <h4>&#x6700;&#x65B0;&#x4E0A;&#x4F20;</h4> </td>
    </tr>

    {% for url in latest_download_urls %}
    <tr>
         <td><li></li></td>
         <td class="td_category"> [{{url.book.category}}] </td>
         <td class="td_title">
             <a href="/bookbar/downloadurldetail/{{url.id}}/0">{{url.filename|slice:"30"}} {{url.extension_name}}</a>
         </td>
         <td class="td_user">{{url.user_name|slice:"15"}}</td>
         <td class="td_time">{{url.create_time|date:"m-d H:i"}}</td>
         <td><a href="/bookbar/downloadbook/{{url.id}}/">&#x4E0B;&#x8F7D;</a></td>
    </tr>
    {% endfor %}

    <tr>
        <td colspan="4"> </td>
        <td>
            <a href="/bookbar/downloadurlalllist/0/0/">view more </a> 
        </td>
    </tr>
    </table>
</ul>

<ul>
    <table>
    <tr>
        <td colspan="6"> <h4>&#x6700;&#x65B0;&#x53D1;&#x5E03;</h4> </td>
    </tr>

    {% for article in latest_show_articles %}
    <tr>
         <td><li></li></td>
         <td class="td_category"> [{{article.category}}]</td>
         <td class="td_title">
             <a href="/bookbar/articledetail/{{article.id}}/0/0/">{{article.title|slice:"30"}}</a>
         </td>
         <td class="td_user">{{article.user_name|slice:"15"}}</td>
         <td class="td_time">{{article.create_time|date:"m-d H:i"}}</td>
    </tr>
    {% endfor %}

    <tr>
        <td colspan="4"> </td>
        <td>
            <a href="/bookbar/booksmalllist/0/">view more </a> 
        </td>
    </tr>

    </table>
</ul>

</div>

<a href="/weibo/weibo_login_in">xx<a>
{% endblock %}

