
{% extends "base.html" %}
{% block content %}


{% for book in books %}

{% include 'bookdetail.html' %}

<hr/>

<table>
    {% if url_sets.count %}
    <tr>
        <th> filename </th>
        <th> type </th>
        <th> download </th>
        <th> up </th>
        <th> down </th>
        <th> clear type </th>
        <th> user </th>
        <th> time </th>
    <tr>
    {% endif %}

    {% for urls in url_sets %}
        {% ifequal forloop.counter0 forloop.parentloop.counter0 %}
            {% for url in urls %}
    <tr>
        <td>{{url.filename}}</td>
        <td>{{url.extension_name}}</td>
        <td>{{url.download_num}}</td>
        <td>{{url.up_num}}</td>
        <td>{{url.down_num}}</td>
        <td>{{url.cleartype}}</td>
        <td>{{url.user_name}}</td>
        <td>{{url.create_time}}</td>
        <td><a href="/bookbar/downloadbook/{{url.id}}/">download</a></td>
        <td><a href="">remark</a></td>
    </tr>
            {% endfor %}
        {% endifequal %}
    {% endfor%}

    <tr>
        <td colspan="4" style="padding:0"> 
            <a href="/bookbar/adddownloadurl/{{book.id}}/">add a new downloadurl </a>
        </td>

        <td colspan="4" style="padding:0"> 
            <a href="/bookbar/downloadurllist/{{book.id}}/0/">view more</a>
        </td>
    </tr>
</table>

<hr/>

<table>
{% for articles in article_sets %}
    {% ifequal forloop.counter0 forloop.parentloop.counter0 %}
        {% for article in articles %}
    <tr>
    <td>{{article.user_name}}</td>
    <td>{{article.create_time}}</td>
    </tr>
        {% endfor %}
    {% endifequal %}
{% endfor%}
</table>

{% endfor %}

{% endblock %}
