{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/global.css"/>
{% endblock %}


{% block content %}

<ul>
<table border="0">
    {% for url in urls %}
    <tr>
        <td><li></li></td>
        <td class="td_category"> [{{url.cleartype}}] </td>
        <td class="td_title">
            <a href="/bookbar/downloadurldetail/{{url.id}}/0">{{url.filename|slice:"30"}}{{url.extension_name}}</a> 
        </td>
        <td class="td_user">{{url.user_name|slice:"15"}}</td>
        <td class="td_time">{{url.create_time|date:"m-d i:s"}}</td>
        <td class="td_num">{{url.download_num}}</td>
        <td><a href="/bookbar/downloadbook/{{url.id}}/">download</a></td>
    </tr>
    {% endfor %}
</table>
</ul>

<hr/>

<table>
    <tr>
        <td>
            {{current_page_show}}/{{total_page}}
        </td>
        <td>
            <a href="/bookbar/downloadurlalllist/{{category}}/{{prev_page}}">Prev</a> 
        </td>
        <td>
            <a href="/bookbar/downloadurlalllist/{{category}}/{{next_page}}">Next</a>
        </td>
    </tr>
</table>

{% endblock %}

