{% extends "base.html" %}

{% block head %}

<meta name="description" content="&#x81F4;&#x529B;&#x4E8E;&#x6253;&#x9020;&#x4E00;&#x4E2A;&#x8BFB;&#x4E66; &#x5B66;&#x4E60; &#x4EA4;&#x6D41;&#x7684;&#x5E73;&#x53F0;"/>
<meta name="keywords" content="{{url.filename}},{{book.title}}"/>

{% endblock %}


{% block content %}


<style type="text/css">
#id_content {
width:500px;
height:100px;
}
</style>

{% include 'bookdetail.html' %}

{% for url in urls %}
{% endfor %}

<h3> downurl detail </h3>
<table border="1">
    <tr>
        <td></td>
        <td>{{url.filename}}{{url.extension_name}}</td>
    <tr/>
    <tr>
        <td></td>
        <td>{{url.filename}}{{url.extension_name}}</td>
    <tr/>

    <tr>
        <td></td>
        <td>{{url.cleartype}}</td>
    <tr/>

    <tr>
        <td></td>
        <td>{{url.download_num}}</td>
    <tr/>

    <tr>
        <td></td>
        <td>{{url.user_name}}</td>
    <tr/>

    <tr>
        <td></td>
        <td>{{url.create_time|date:"Y-m-d H:i:s"}}</td>
    </tr>

    <tr>
        <td></td>
        <td>{{url.up_num}}</td>
     </tr>
    <tr>
        <td></td>
        <td>{{url.down_num}}</td>
     </tr>
        <td><a href="/bookbar/downloadbook/{{url.id}}/">download</a></td>
        <td><a href="/bookbar/downloadurllist/{{book.id}}/0/">other download</a></td>
    </tr>
</table>

<div id="id_comments_div">
<h3> Comments </h3>
<table border="1">
{% for comment in comments %}
    <tr>
        <td> {{comment.content}}</td>    
        <td></td>
    </tr>

    <tr>
        <td> {{comment.create_time}}</td>
        <td> {{comment.user_name}}</td>
    </tr>
{% endfor %}
    <tr>
        <td>
            {{current_page_show}}/{{total_page}}
        </td>
        <td>
            <a href="/bookbar/downloadurldetail/{{url.id}}/{{prev_page}}#id_comments_div">Prev</a> <a href="/bookbar/downloadurldetail/{{url.id}}/{{next_page}}#id_comments_div">Next</a>
        </td>
    </tr>
</table>
</div>

<form action="" method="post">
{% csrf_token %}
    <table border="1">
        <tr>
            {{commentform.content}}
        <tr>
            <td><input type="submit" value="add comment"></td>
        </tr>
    </table>
</form>

{% endblock %}
