
{% extends "base.html" %}
{% block content %}

{% include 'bookdetail.html' %}

<h3> download list </h3>
<table border="1">
    {% for url in urls %}
    <tr>
        <td><a href="/bookbar/downloadurldetail/{{url.id}}/0">{{url.filename}}{{url.extension_name}}</a></td>
        <td>{{url.cleartype}}</td>
        <td>{{url.download_num}}</td>
        <td>{{url.user_name}}</td>
        <td>{{url.create_time|date:"Y-m-d H:i:s"}}</td>
        <td><a href="/bookbar/downloadbook/{{url.id}}/">download</a></td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            {{current_page_show}}/{{total_page}}
        </td>
        <td>
            <a href="/bookbar/downloadurllist/{{book.id}}/{{prev_page}}">Prev</a> <a href="/bookbar/downloadurllist/{{book.id}}/{{next_page}}">Next</a>
        </td>
    </tr>
</table>

{% endblock %}
