<br/>
<hr/>
<div id="footer_bottom">
    <a> &#x7F51;&#x7AD9;&#x58F0;&#x660E;</a>  {# wang zhan sheng ming #}
    <a> &#x8054;&#x7CFB;&#x6211;&#x4EEC; </a> {# lian xi wo men #}
    <a> &#x5E7F;&#x544A;&#x670D;&#x52A1;</a>  {# guang gao fu wu #}
    @2014 
    <a target="_blank" href="http://www.cnblogs.com/jintianfree/">  &#x5317;&#x534A;&#x7403;&#x7684;&#x5929;&#x7A7A; </a>
    <a target="_blank" href="/bookbar/addadvice/0/"> &#x6211;&#x8981;&#x5410;&#x69FD; </a> {# wo yao to cao #}
</div>



<div id="baidu_statistics">
    <script language="javascript" type="text/javascript" src="http://js.users.51.la/17445138.js"></script>
    <noscript> 
        <a href="http://www.51.la/?17445138" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17445138.asp" style="border:none" /></a>
    </noscript>
</div>

<!--
<div id="baidu_statistics">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F106ec048090ea151aa771c78588d3cf5' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
-->
