
<style type="text/css">

#logo {
    width: 100%;
    margin: 20px auto;
}

#logo h1 a {
    font-weight: bold;
    font-size: 35px;
    color: #000;
    letter-spacing: 3px;
}

#tags {
    padding-left:50%;
    color: #999;
    font-size: 13px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

</style>

<div id="logo">
    <h1><a href="/bookbar/0">BookBar</a></h1>
    <span id="tags">
        <span><a href="/bookbar/0">bookbar home /</a></span>
        <span><a href="/bookbar/booksmalllist/0">booklist /</a></span>
        <span><a href="/bookbar/downloadurlalllist/0/0/">downloadlist /</a> </span>
        <span><a href="/bookbar/articlelist/0/0/">articlelist</a></span>
    </span>
</div>

