
<html>
<head>

<script> 

var last_td_id=""

function check(obj) 
{ 
    
    if(last_td_id != "") {
	document.getElementById(last_td_id).innerHTML=""; 
    }

    var b ="{{form.title|addslashes }}";

    var id = parseInt(obj.id);
    var td_id = String(id) + "_td";
	document.getElementById(td_id).innerHTML=b; 

   last_td_id=td_id;
} 

</script>

</head>

<body>
<table border="1">

{{comment}}
{% for topic in topics %}
<tr>
    <td>
    {{topic.title}}
    </td>
    <td>
    {{topic.content}}
    </td>
</tr>
<tr>
    {% if topic.topic_set.count %}
    <td>
        {% for answer in topic.topic_set.all %}
           {{answer.title}}
        {% endfor %}
    </td> 
    {% endif %}
</tr>
{% endfor %}

<table>


<table border="1">
<tr>
    <td id="1_td">
    </td>
</tr>
<tr>

    <td>
        <input type="button" id="1_related" name="map_related_book" value="map" onClick="check(this)"> </input> 
    </td>
</tr>

<tr>
    <td id="2_td">
    </td>

</tr>
<tr>
    <td>
        <input type="button" id="2_related" name="map_related_book" value="map" onClick="check(this)"> </input> 
    </td>
</tr>

<tr>
    <td id="3_td">
    </td>

</tr>
<tr>
    <td>
        <input type="button" id="3_related" name="map_related_book" value="map" onClick="check(this)"> </input> 
    </td>

</tr>

</table>

</body>

</html>
