{% extends "qa_base.html" %}

{% block head %}

<meta charset="utf-8" />

<link rel="stylesheet" href="{{STATIC_URL}}/kindeditor-4.1.10/themes/default/default.css" />
<script charset="utf-8" src="{{STATIC_URL}}/kindeditor-4.1.10/kindeditor-min.js"></script>
<script charset="utf-8" src="{{STATIC_URL}}/kindeditor-4.1.10/lang/zh_CN.js"></script>

<script>
    var editor;

    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            resizeType : 1,
            allowPreviewEmoticons : false,
            allowImageUpload : false,
            items : [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        });
    });

</script>

<script type="text/javascript"> 
function closeHTML(str) { 
var arrTags=["span","font","b","u","i","h1","h2","h3","h4","h5","h6","p","li","ul","table","div"]; 
    for(var i=0;i<arrTags.length;i++){ 
        var intOpen=0; 
        var intClose=0; 
        var re=new RegExp("\\<"+arrTags[i]+"( [^\\<\\>]+|)\\>","ig"); 
        var arrMatch=str.match(re); 
        if(arrMatch!=null) 
            intOpen=arrMatch.length; 
        re=new RegExp("\\<\\/"+arrTags[i]+"\\>","ig"); 
        arrMatch=str.match(re); 
        if(arrMatch!=null) 
            intClose=arrMatch.length; 
        for(var j=0;j<intOpen-intClose;j++){ 
                str+="</"+arrTags[i]+">"; 
        } 
    } 
    return str; 
} 
</script> 



<style type="text/css">

.qa-voting {
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F1FBFE;
    border: 1px solid #CDE2ED;
    border-radius: 2px;
    float: left;
    height: 48px;
    overflow: hidden;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
    width: 60px;
    text-align:center;
}
.qa-a-count-none {
    text-align:center;
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F9FFEC;
    border: 1px solid #DBE6CB;
    border-radius: 2px;
    text-align: center;
    width: 60px;
    height: 48px;
    overflow: hidden;
    float: left;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
}
.qa-q-item-meta {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
}


</style>

<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
function toggle_comment(obj) {
    obj_id = parseInt(obj.id)
    var content="comment_"  + obj_id.toString()
    var content_thumb="comment_thumb_" + obj_id.toString()

    if($('#' + content).is(":hidden")) {
        obj.innerHTML = "\u6536\u8D77"
    } else {
        obj.innerHTML = "\u5C55\u5F00"
    }

    //obj.value = ($('#' + content).is(":hidden") ? "\u6536\u8D77" : "\u5C55\u5F00");
    $('#' + content_thumb).slideToggle(0);
    $('#' +  content).slideToggle();
}

function toggle_child_comment(obj) {
    obj_id = parseInt(obj.id)
    var content="child_comment_"  + obj_id.toString()
    var content_thumb="child_comment_thumb_" + obj_id.toString()

    if($('#' + content).is(":hidden")) {
        obj.innerHTML = "\u6536\u8D77"
    } else {
        obj.innerHTML = "\u5C55\u5F00"
    }

    //obj.value = ($('#' + content).is(":hidden") ? "\u6536\u8D77" : "\u5C55\u5F00");
    $('#' + content_thumb).slideToggle(0);
    $('#' +  content).slideToggle();
}
</script>


{% endblock %}

{% block content %}

<table border="0" width="100%">
    <tr>
        <td style="width:50px;height:100%"> 
        <table border="0" style="height:100%">
            <tr><td> <div class="qa-a-count-none"> up </div> </td></tr>
            <tr><td style="height:100%;"></td></tr>
        </table>
        </td>
        <td> 
        {% autoescape off %}
        {{comment.content}} 
        {% endautoescape %}
        </td>
    </tr>

    <tr>
        <td></td> 
        <td> 
           <span class="qa-q-item-meta" style="float:right">
              &#x65F6;&#x95F4;: &nbsp;{{comment.create_time|date:"Y-m-d H:i"}} 
              &nbsp;&nbsp;&nbsp;&#x4F5C;&#x8005;: &nbsp;{{comment.user_name}}
           </span>
<!-- <span style="float:right;padding-right:150px">{{comment.user_name}}{{comment.create_time}}</span> -->
        </td> 
    </tr>

    <tr>
        <td></td>
        <td>
            <form action="" method="post">
                {% csrf_token %}
                {{form.content.errors}}
                {{form.content}}
                <br/>
                <input type="submit" value="&#x56DE;&#x590D;"></input>
            </form>
        </td>
    </tr>

    <tr><td colspan="2"><hr/></td></tr>

    {% for child_comment in child_comment_dict.child_comments.all %}
    <tr> 
        <td></td> 
        <td>
        <div style="display:none;" id="child_comment_{{child_comment.id}}"> {{child_comment.content|safe}} </div>
        <span id="child_comment_thumb_{{child_comment.id}}"> 
            <script>
                var str = '{{child_comment.content|slice:":1024"|safe|linebreaksbr|addslashes }}'
                document.write(closeHTML(str));
            </script>
        </span>
        {% if child_comment.content|length > 1024 %}
        ... ...  <a style="font-size:11px;" href="javascript:void()" onclick="toggle_child_comment(this)" id="{{child_comment.id}}_button">&#x5C55;&#x5F00;</a>
        {% endif %}
 
        </td>
    </tr>

    <tr> 
        <td></td> 
        <td>
           <span class="qa-q-item-meta" style="float:right">
              &#x65F6;&#x95F4;: &nbsp;{{child_comment.create_time|date:"Y-m-d H:i"}} 
              &nbsp;&nbsp;&nbsp;&#x4F5C;&#x8005;: &nbsp;{{child_comment.user_name}}
           </span>
        </td>
    </tr>
    
    <tr><td colspan="2"><br/></td></tr>
    {% endfor %}

    <tr>
        <td></td>
        <td>
            <span style="float:right;padding-right:150px">
            {{child_comment_dict.current_page_show}} / {{child_comment_dict.total_page}}
            <a href="/bookqa/comment_detail/{{comment.id}}/{{child_comment_dict.prev_page}}/">&#x4E0A;&#x4E00;&#x9875;</a>
            <a href="/bookqa/comment_detail/{{comment.id}}/{{child_comment_dict.next_page}}/">&#x4E0B;&#x4E00;&#x9875;</a>
            </span>
        </td>
    </tr>
</table>
 

{% endblock %}
