{% extends "qa_base.html" %}

{% block content %}


<script> 

var last_td_id=""

function quote(obj)
{
    var id = parseInt(obj.id);
    var content_id = String(id) + "_content";


	var a = document.getElementById(content_id)
	var b = document.getElementById("id_content")

    b.value = a.innerHTML
}

function cancel(obj)
{
    if(last_td_id != "") {
        document.getElementById(last_td_id).innerHTML=""; 
    }


}

function check(obj) 
{ 
    
    if(last_td_id != "") {
        document.getElementById(last_td_id).innerHTML=""; 
    }

    var id = parseInt(obj.id);
    var td_id = String(id) + "_td";
    var b = "" +
"<form action=\"\" method=\"post\">"+
"{% csrf_token %}"+
"<input type=\"hidden\" id=\"id_title\" name=\"title\" value=\"" + "{{topic.title}}" + "\">  </input>" +
"<input type=\"hidden\" id=\"id_book_name\" name=\"book_name\" value=\"x {{topic.book_name}} \"></input>" +
"{{form.content|addslashes }}" +
"{{form.content.errors|addslashes }}" +
"<br/>" +
"<input type=\"submit\" value=\"answer\"></input>" +
"<input type=\"button\" value=\"cancel\" onClick=\"cancel(this)\"></input>" +
"<input type=\"hidden\" name=\"topic_id\" value=\"" + String(id) + "\"></input>" +
"</form>" +
"";

    document.getElementById(td_id).innerHTML=b; 

    last_td_id=td_id;
} 

</script>

<style type="text/css">

.qa-voting {
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F1FBFE;
    border: 1px solid #CDE2ED;
    border-radius: 2px;
    float: left;
    height: 48px;
    overflow: hidden;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
    width: 60px;
    text-align:center;
}
</style>

<br/> <br/> <br/>

{% if topic.parent %}
<table border="0" style="width:100%">
    <tr>
        <td colspan="2"> 
            <h3>
            [{{topic.parent.book_name}}] <a href="/bookqa/qa_detail/{{topic.parent.id}}/">{{topic.parent.title}}</a> 
            </h3>
        </td>
    </tr>

    <tr>
        <td rowspan="3" style="width:70px;position:relative;"> <div class="qa-voting"> up </div> </td>
    </tr>

    <tr>
        <td> {{topic.parent.content}} </td>
    </tr>

    <tr>
        <td>{{topic.parent.user_name}} {{topic.parent.create_time}}</td>
    </tr>
</table>
{% endif %}

<br/> <br/> <br/>

<table border="0" style="width:100%">
    {% if not topic.parent %}
    <tr>
        <td colspan="2"> 
            <h3>
            [{{topic.book_name}}] <a href="/bookqa/qa_detail/{{topic.id}}/">{{topic.title}}</a>
            </h3>
        </td>
    </tr>
    {% endif %}

    <tr>
        <td rowspan="3" style="width:70px;position:relative;"> 
            <div class="qa-voting"> up </div> 
        </td>
    </tr>

    <tr>
        <td> {{topic.content}} </td>
    </tr>

    <tr>
        <td>{{topic.user_name}} {{topic.create_time}}</td>
    </tr>
</table>

<br/> <br/><hr/>

<table border="0" style="width:100%">
    {% for topic_answer in topic.topic_set.all %}

    <tr>
        <td colspan="2"><br/><br/></td>
    </tr>

    <tr>
        <td rowspan="2" style="width:70px;position:relative;"> <div class="qa-voting"> up </div> </td>

        <td id="{{topic_answer.id}}_content"> {{topic_answer.content}} </td>
    </tr>

    <tr>
        <td>{{topic.user_name}} {{topic.create_time}}</td>
    </tr>

    <tr>
        <td></td>
        <td>
            <table border="0" width="80%">
                {% for answer in topic_answer.topic_set.all|slice:":2" %}
                <tr>
                    <td rowspan="3" style="width:50px"></td>
                    <td> {{answer.content}} </td>
                </tr>

                <tr>
                    <td>{{topic.user_name}}  {{topic.create_time}}</td>
                </tr>

                <tr>
                    <td><div style="border-bottom:1px dashed;width=100%"></div></td>
                </tr>
                {% endfor %}
 
                <tr>
                    <td style="width:50px"></td>
                    <td> 
                       {% if topic_answer.level <= 1 %}
                       <input type="button" id="{{topic_answer.id}}_buttion" name="answer" value="&#x56DE;&#x590D;" onClick="check(this)"></input>
                       {% else %}
                       <input type="button" id="{{topic_answer.id}}_buttion" name="answer" value="&#x5F15;&#x7528;" onClick="quote(this)"></input>
                       {% endif %}
                       <a href="/bookqa/qa_detail/{{topic_answer.id}}/">view more</a>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td id="{{topic_answer.id}}_td"> </td>
                </tr>
            </table>
        </td>
    </tr>
    {% endfor%} 

    <tr>
        <td colspan="2"><br/><br/><hr/></td>
    </tr>
</table>

<br/>
<br/>
<br/>
<br/>
<div id="reply_div_id">
{% if topic.level <= 1%}
    <form action="" method="post">
    {% csrf_token %}
        <input type="hidden" id="id_title" name="title" value="{{topic.title}}" ></input>
        <input type="hidden" id="id_book_name" name="book_name" value="{{topic.book_name}}" ></input>
        <input type="hidden" value="{{topic.id}}" name="topic_id"></input>
        {{form.content.errors}}
        {{form.content}}
        <br/>
        <input type="submit" value="&#x56DE;&#x590D;"></input>
</form>
{% endif %}
</div>

{% endblock %}
