
<style type="text/css">

#logo {
    width: 100%;
    margin: 20px auto;
}

#logo h1 a {
    font-weight: bold;
    font-size: 35px;
    color: #000;
    letter-spacing: 3px;
}

#tags {
    padding-left:60%;
    color: #999;
    font-size: 13px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

</style>

<div id="logo">
    <table border="0">
        <tr>
            <td>
                <h1 style="display:inline;"><a href="/bookqa">BOOKQA</a> </h1>
            </td>
            <td style="width:200px">
                <script type="text/javascript">document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://rp.baidu.com/rp3w/3w.js?sid=16632368784966857390') + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));</script>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="width:800px;padding-top:20px;">
                <span id="tags">
                    <span><a href="/bookqa/qa_list">&#x9996;&#x9875;/</a></span>
                    <span><a href="">&#x56FE;&#x4E66;/</a></span>
                    <span><a href="">&#x63D0;&#x95EE;/</a> </span>
                    <span><a href="">BOOKBAR/</a></span>
                </span>
            </td>
        </tr>
    </table>

</div>

