{% extends "qa_base.html" %}

{% block content %}

<style type="text/css">
.qa-voting {
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F1FBFE;
    border: 1px solid #CDE2ED;
    border-radius: 2px;
    float: left;
    height: 48px;
    overflow: hidden;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
    width: 60px;
    text-align:center;
}

.qa-a-count-none {
    text-align:center;
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F9FFEC;
    border: 1px solid #DBE6CB;
    border-radius: 2px;
    text-align: center;
    width: 60px;
    height: 48px;
    overflow: hidden;
    float: left;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
}
</style>

<table border="0" style="width:100%">

    {% for topic in topic_dict.topics %}
    <tr>
        <td rowspan="3" style="width:50px"> <div class="qa-voting">view </div></td>
        <td rowspan="3" style="width:50px"> <div class="qa-a-count-none"> answer </div></td>
        <!-- <td rowspan="3" style="width:50px"> up / down </td> -->
        
        <td><a href="/bookqa/qa_list/{{topic.category.id}}/0/"> [{{topic.category}}] </a></td>
        <td><a href="/bookqa/qa_detail/{{topic.id}}/">{{topic.title}}</a> </td>
    </tr>

    <tr> <td colspan="2"> {{topic.tag}} </td> </tr>

    <tr> </td></td> <td>{{topic.user_name}} {{topic.create_time}}</td> </tr>

    <tr> <td colspan="4"> <br/><br/><hr/> </td> <tr>
    {% endfor %}

    <tr> <td colspan="4"> <br/><br/> </td> <tr>

    <tr>
        <td></td> <td></td> <td></td>
        <td> 
            {{topic_dict.current_page_show}} / {{topic_dict.total_page}}
            <a href="/bookqa/qa_list/{{category_id}}/{{topic_dict.prev_page}}/">Prev</a>
            <a href="/bookqa/qa_list/{{category_id}}/{{topic_dict.next_page}}/">Next</a>
        </td>
    </tr>
</table>

<a href="/bookqa/qa_add_question/"> new question </a>

{% endblock %}

