{% extends "qa_base.html" %}

{% block content %}

<script>
function prev_page() {
    document.getElementById("id_page_num_to_show").value = document.getElementById("id_prev_page_num").value
}

function next_page() {
    document.getElementById("id_page_num_to_show").value = document.getElementById("id_next_page_num").value
}

</script>

<form action="" method="get">

<input type="hidden" name="page_num_to_show" id="id_page_num_to_show"></input>
<input type="text"   name="key_word" value="{{key_word}}"></input> 
<input type="submit" name="search_question" value="search question"></input> 
<input type="submit" name="search_answer" value="search answer"></input>
<input type="hidden" name="prev_page_num" id = "id_prev_page_num"value="{{prev_page}}"></input>
<input type="hidden" name="next_page_num" id = "id_next_page_num"value="{{next_page}}"></input>

<table border="1" style="width:100%">
    {% for topic in topics %}
    <tr>
        <td rowspan="3" style="width:70px"> view </td>
        <td rowspan="3" style="width:70px"> answer </td>
        <td rowspan="3" style="width:70px"> up / down </td>
    </tr>

    <tr>
        <td colspan="3"> [{{topic.book_name}}] <a href="/bookqa/qa_detail/{{topic.id}}/">{{topic.title}}</a> </td>
    </tr>

    <tr>
        <td>USER: {{topic.user_name}}</td>
        <td>TIME: {{topic.create_time}}</td>
        <td>
    </tr>

    <tr>
        <td colspan="6">
        <br/><br/><hr/>
        </td>
    </tr>

    {% endfor %}

    <tr>
        <td> {{current_page_show}} / {{total_page}} </td>
        <td> <input type="submit" name="prev_page_button" value="Prev" onClick="prev_page()"></input></td>
        <td> <input type="submit" name="next_page_button" value="Next" onClick="next_page()"></input></td>
    </tr>
</table>
</form>

<a href="/bookqa/qa_add_question/"> new question </a>

{% endblock %}

