{% extends "qa_base.html" %}

{% block content %}

<style type="text/css">
.qa-voting {
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F1FBFE;
    border: 1px solid #CDE2ED;
    border-radius: 2px;
    float: left;
    height: 48px;
    overflow: hidden;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
    width: 60px;
    text-align:center;
}

.qa-a-count-none {
    text-align:center;
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F9FFEC;
    border: 1px solid #DBE6CB;
    border-radius: 2px;
    text-align: center;
    width: 60px;
    height: 48px;
    overflow: hidden;
    float: left;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
}

</style>

<script>
function change(v) {
    var url = "/bookqa/qa_list/"  + v + "/0/";
    window.location.href=url;
}
</script>

<select name="category_select" onchange="change(this.value)" >
    <option value="0"> --- </option> 
    {% for category in categorys %}
        <option value="{{category.id}}" {% ifequal category.id category_id %} selected="selected" {% endifequal %} >
        {{category}}
        </option> 
    {% endfor %}
</select> 

<table border="0" style="width:90%">
    {% for topic in topic_dict.topics %}
    <tr>
        <td rowspan="3" style="width:50px"> <div class="qa-voting">view </div></td>
        <td rowspan="3" style="width:50px"> <div class="qa-a-count-none"> answer </div></td>
        <!-- <td rowspan="3" style="width:50px"> up / down </td> -->
        
        <td class="td_category"><a href="/bookqa/qa_list/{{topic.category.id}}/0/"> [{{topic.category}}] </a></td>
        <td> <a href="/bookqa/topic_detail/{{topic.id}}/0/" target="_blank">{{topic.title}}</a> </td>
    </tr>

    <tr> <td colspan="2"><span> {{topic.tag}} <span></td> </tr>

    <tr> <td colspan="2"><span style="float:right;padding-right:150px"> {{topic.user_name}} {{topic.create_time}} </span></td> </tr>

    <tr> <td colspan="4"> <br/><br/><hr/> </td> <tr>
    {% endfor %}

    <tr> <td colspan="4"> <br/><br/> </td> <tr>

    <tr>
        <td></td> <td></td> <td></td>
        <td style="float:right;padding-right:50px;"> 
            {{topic_dict.current_page_show}} / {{topic_dict.total_page}}
            <a href="/bookqa/qa_list/{{category_id}}/{{topic_dict.prev_page}}/">Prev</a>
            <a href="/bookqa/qa_list/{{category_id}}/{{topic_dict.next_page}}/">Next</a>
        </td>
    </tr>
</table>

{% endblock %}

