
{% extends "qa_base.html" %}
{% block head %}

<meta charset="utf-8" />

<link rel="stylesheet" href="{{STATIC_URL}}/kindeditor-4.1.10/themes/default/default.css" />
<script charset="utf-8" src="{{STATIC_URL}}/kindeditor-4.1.10/kindeditor-min.js"></script>
<script charset="utf-8" src="{{STATIC_URL}}/kindeditor-4.1.10/lang/zh_CN.js"></script>

<script>
    var editor;

    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            resizeType : 1,
            allowPreviewEmoticons : false,
            allowImageUpload : false,
            items : [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        });
    });

</script>

<script type="text/javascript"> 
function closeHTML(str) { 
var arrTags=["span","font","b","u","i","h1","h2","h3","h4","h5","h6","p","li","ul","table","div"]; 
    for(var i=0;i<arrTags.length;i++){ 
        var intOpen=0; 
        var intClose=0; 
        var re=new RegExp("\\<"+arrTags[i]+"( [^\\<\\>]+|)\\>","ig"); 
        var arrMatch=str.match(re); 
        if(arrMatch!=null) 
            intOpen=arrMatch.length; 
        re=new RegExp("\\<\\/"+arrTags[i]+"\\>","ig"); 
        arrMatch=str.match(re); 
        if(arrMatch!=null) 
            intClose=arrMatch.length; 
        for(var j=0;j<intOpen-intClose;j++){ 
                str+="</"+arrTags[i]+">"; 
        } 
    } 
    return str; 
} 
</script> 

<style type="text/css">
.qa-voting {
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F1FBFE;
    border: 1px solid #CDE2ED;
    border-radius: 2px;
    float: left;
    height: 48px;
    overflow: hidden;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
    width: 60px;
    text-align:center;
}

.qa-a-count-none {
    text-align:center;
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F9FFEC;
    border: 1px solid #DBE6CB;
    border-radius: 2px;
    text-align: center;
    width: 60px;
    height: 48px;
    overflow: hidden;
    float: left;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
}

.qa-tag-link {
    font-size: 12px;
    color: #B4B4B4 !important;
    padding: 5px 13px;
    margin-bottom: 3px;
    border: 1px solid #EDEDED;
    border-radius: 2px;
    background-color: #FBFBFB;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none !important;
}

.qa-q-item-meta {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
}

.qa-q-item-title {
    letter-spacing:2px;
    padding-bottom: 3px;
    color: #235272;
    font-weight: bold;
    font-size: 14px;
}

.qa-q-list-item {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px dotted #CCC;
}

.qa-top-tags-h1 {
    padding: 10px 0px 10px 9px;
    border: 1px solid #EDEDED;
    background: none repeat scroll 0% 0% #F9F9F9;
    color: #333;
    font-size: 14px;
}

</style>

<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
function toggle_comment(obj) {
    obj_id = parseInt(obj.id)
    var content="comment_"  + obj_id.toString()
    var content_thumb="comment_thumb_" + obj_id.toString()

    if($('#' + content).is(":hidden")) {
        obj.innerHTML = "\u6536\u8D77"
    } else {
        obj.innerHTML = "\u5C55\u5F00"
    }

    //obj.value = ($('#' + content).is(":hidden") ? "\u6536\u8D77" : "\u5C55\u5F00");
    $('#' + content_thumb).slideToggle(0);
    $('#' +  content).slideToggle();
}

function toggle_child_comment(obj) {
    obj_id = parseInt(obj.id)
    var content="child_comment_"  + obj_id.toString()
    var content_thumb="child_comment_thumb_" + obj_id.toString()

    if($('#' + content).is(":hidden")) {
        obj.innerHTML = "\u6536\u8D77"
    } else {
        obj.innerHTML = "\u5C55\u5F00"
    }

    //obj.value = ($('#' + content).is(":hidden") ? "\u6536\u8D77" : "\u5C55\u5F00");
    $('#' + content_thumb).slideToggle(0);
    $('#' +  content).slideToggle();
}
</script>


{% endblock %}

{% block content %}
<table border="0" style="width:90%">
    <tr> 
        <td colspan="2">
        <div class="qa-top-tags-h1"> <a href="/bookqa/topic_detail/{{topic.id}}/0/">{{topic.title}}</a> </div>
        </td>
    </tr>

    <tr>
        <td style="width:50px;height:100%;"  rowspan="4"> 
        <table border="0" style="height:100%">
            <tr><td> <div class="qa-voting"> {{topic.comment_set.count}} </div></td> </tr></td>
            <tr><td style="height:100%;"></td></tr>
        </table>
        <td>
        {% autoescape off %}
        {{topic.content}} 
        {% endautoescape %}
       </td>
    </tr>

    <tr> 
        <td colspan="1">
        <span class="qa-q-item-meta">  
           &#x65F6;&#x95F4;: &nbsp;{{topic.create_time|date:"Y-m-d H:i"}} 
           &nbsp;&nbsp;&nbsp;&#x5206;&#x7C7B;: &nbsp;<a href="/bookqa/qa_list/{{topic.category.id}}/0/"> [{{topic.category}}] </a>
           &nbsp;&nbsp;&nbsp;&#x4F5C;&#x8005;: &nbsp;{{topic.user_name}}
        </span> 
        </td> 
    </tr>

    <tr> <td colspan="0"><span class="qa-tag-link"> {{topic.tag}} <span></td> </tr>
</table>

{% if best_comment %}
<table>
</table>
{% endif %}

<br/><br/><hr/><br/>

{% if comment_dict.total_page %}
<table border="0" width="90%">
    {% for comment in comment_dict.comments %}
    <tr>
        <td style="width:50px;height:100%"> 
        <table border="0" style="height:100%">
            <tr><td> <div class="qa-a-count-none"> {{comment.up_num}} </div> </td></tr>
            <tr><td style="height:100%;"></td></tr>
        </table>
        </td>
        <td style="word-break:break-all">
            <div id="comment_{{comment.id}}" style="display:none;"> {{comment.content|safe}} </div>
            <span id="comment_thumb_{{comment.id}}"> 
                <script> 
                    var str = '{{comment.content|slice:":1024"|safe|linebreaksbr|addslashes }}'
                    document.write(closeHTML(str));
                </script>
            </span>
            {% if comment.content|length > 1024 %}
               ... ...  <a style="font-size:11px;" href="javascript:void()" onclick="toggle_comment(this)" id="{{comment.id}}_button">&#x5C55;&#x5F00;</a>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td></td>
        <td> 
           <span class="qa-q-item-meta">
              &#x65F6;&#x95F4;: &nbsp;{{comment.create_time|date:"Y-m-d H:i"}} 
              &nbsp;&nbsp;&nbsp;&#x4F5C;&#x8005;: &nbsp;{{comment.user_name}}
           </span>
        </td> 
    </tr>

    <tr>
        <td></td>
        <td>
        <table width="100%" style="padding-left:50px" border="0">
            {% for child_comment in comment.comment_set.all|slice:":5" %}
            <tr> 
                <td> 
                    <div style="font-size:11px;display:none;" id="child_comment_{{child_comment.id}}"> {{child_comment.content|safe}} </div>
                    <span style="font-size:11px;" id="child_comment_thumb_{{child_comment.id}}">
                        <script>
                            var str = '{{child_comment.content|slice:":1024"|safe|linebreaksbr|addslashes }}'
                            document.write(closeHTML(str));
                        </script>
                    </span>
                    {% if child_comment.content|length > 1024 %}
                    ... ...  <a style="font-size:11px;" href="javascript:void()" onclick="toggle_child_comment(this)" id="{{child_comment.id}}_button">&#x5C55;&#x5F00;</a>
                    {% endif %}
               </td> 
            </tr>
            <tr> 
                <td> 
                    <span class="qa-q-item-meta">
                       &#x65F6;&#x95F4;: &nbsp;{{child_comment.create_time|date:"Y-m-d H:i"}} 
                       &nbsp;&nbsp;&nbsp;&#x4F5C;&#x8005;: &nbsp;{{child_comment.user_name}}
                   </span>
               </td> 
           </tr>
            {% endfor %}

            <tr>
                <td>
                    <span style="font-size:11px">
                    <a target="_blank" href="/bookqa/comment_detail/{{comment.id}}/0/"> &#x56DE;&#x590D; </a>
                    {% if comment.comment_set.all.count %}
                    <a target="_blank" href="/bookqa/comment_detail/{{comment.id}}/0/"> &#x66F4;&#x591A; </a>
                    {% endif %}
                    </span>
                </td>
            </tr>
        </table>
        </td>
    </tr>

    <tr><td colspan="2"><div class="qa-q-list-item"> </div> </td></tr>
    {% endfor %}

    <tr>
        <td></td>
        <td style="float:right;padding-right:50px;"> 
            <br/>
            <br/>
            <br/>
            {{comment_dict.current_page_show}} / {{comment_dict.total_page}}
            <a href="/bookqa/topic_detail/{{topic.id}}/{{comment_dict.prev_page}}/">&#x4E0A;&#x4E00;&#x9875;</a>
            <a href="/bookqa/topic_detail/{{topic.id}}/{{comment_dict.next_page}}/">&#x4E0B;&#x4E00;&#x9875;</a>
        </td>
    </tr>

</table>
{% endif %}

<br/>
<br/>
<hr/>
<br/>

<form action="" method="post">
    {% csrf_token %}
    {{form.content.errors}}
    {{form.content}}
    <br/>
    <input type="submit" value="&#x56DE;&#x590D;"></input>
</form>

{% endblock %}
