
{% extends "qa_base.html" %}
{% block head %}

<meta charset="utf-8" />

<link rel="stylesheet" href="{{STATIC_URL}}/kindeditor-4.1.10/themes/default/default.css" />
<script charset="utf-8" src="{{STATIC_URL}}/kindeditor-4.1.10/kindeditor-min.js"></script>
<script charset="utf-8" src="{{STATIC_URL}}/kindeditor-4.1.10/lang/zh_CN.js"></script>

<script>
    var editor;

    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            resizeType : 1,
            allowPreviewEmoticons : false,
            allowImageUpload : false,
            items : [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        });
    });

</script>


<style type="text/css">

.qa-voting {
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F1FBFE;
    border: 1px solid #CDE2ED;
    border-radius: 2px;
    float: left;
    height: 48px;
    overflow: hidden;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
    width: 60px;
    text-align:center;
}
.qa-a-count-none {
    text-align:center;
    color: #555;
    font-weight:bold;
    background: none repeat scroll 0% 0% #F9FFEC;
    border: 1px solid #DBE6CB;
    border-radius: 2px;
    text-align: center;
    width: 60px;
    height: 48px;
    overflow: hidden;
    float: left;
    margin: 6px 16px 0px 0px;
    padding: 8px 0px;
}
</style>
{% endblock %}

{% block content %}
<table border="0" style="width:90%">
    <tr>
        <td rowspan="4" style="width:50px"> <div class="qa-voting"> answer </div></td>
        <td class="td_category"><a href="/bookqa/qa_list/{{topic.category.id}}/0/"> [{{topic.category}}] </a></td>
        <td><a href="/bookqa/topic_detail/{{topic.id}}/0/">{{topic.title}}</a> </td>
    </tr>

    <tr> <td colspan="2"> {{topic.tag}} </td> </tr>

    <tr> 
        <td colspan="2"> 
        {% autoescape off %}
        {{topic.content}} 
        {% endautoescape %}
        </td> 
    </tr>

    <tr> <td colspan="2"> <span style="float:right; padding-right:150px">{{topic.user_name}} {{topic.create_time}} </span></td> </tr>
</table>

{% if best_comment %}
<table>
</table>
{% endif %}

<br/><br/><hr/><br/>

{% if comment_dict.total_page %}
<table border="0" width="90%">
    {% for comment in comment_dict.comments %}
    <tr>
        <td style="width:50px"> <div class="qa-a-count-none"> up </div></td>
        <td>
        {% autoescape off %}
        {{comment.content}} 
        {% endautoescape %}
        </td>
    </tr>

    <tr>
        <td></td>
        <td><span style="float:right;padding-right:150px"> {{comment.user_name}}{{comment.create_time}} </span></td>
    </tr>

    <tr>
        <td></td>
        <td>
        <table width="100%" style="padding-left:50px" border="0">
            {% for child_comment in comment.comment_set.all|slice:":5" %}
            <tr> 
                <td> 
                    <span style="font-size:11px" >
                    {% autoescape off %}
                    {{child_comment.content}} 
                    {% endautoescape %}
                   </span>
               </td> 
            </tr>
            <tr> <td> <span style="font-size:11px">{{child_comment.user_name}} {{child_comment.create_time}} </span></td> </tr>
            {% endfor %}

            <tr>
                <td>
                    <span style="float:right;padding-right:150px;font-size:11px">
                    <a target="_blank" href="/bookqa/comment_detail/{{comment.id}}/0/"> &#x56DE;&#x590D; </a>
                    {% if comment.comment_set.all.count %}
                    <a target="_blank" href="/bookqa/comment_detail/{{comment.id}}/0/"> &#x66F4;&#x591A; </a>
                    {% endif %}
                    </span>
                </td>
            </tr>
        </table>
        </td>
    </tr>
    {% endfor %}

    <tr>
        <td></td>
        <td style="float:right;padding-right:50px;"> 
            <br/>
            <br/>
            <br/>
            {{comment_dict.current_page_show}} / {{comment_dict.total_page}}
            <a href="/bookqa/topic_detail/{{topic.id}}/{{comment_dict.prev_page}}/">Prev</a>
            <a href="/bookqa/topic_detail/{{topic.id}}/{{comment_dict.next_page}}/">Next</a>
        </td>
    </tr>

</table>
{% endif %}

<br/>
<br/>
<hr/>
<br/>

<form action="" method="post">
    {% csrf_token %}
    {{form.content.errors}}
    {{form.content}}
    <br/>
    <input type="submit" value="&#x56DE;&#x590D;"></input>
</form>

{% endblock %}
