
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101169043" data-redirecturi="http://bookbook.tk/static/qq.html" charset="utf-8" ></script>

{% if user.is_authenticated %}
    {% ifequal user.first_name "weibo"%}
    <img src="http://www.sinaimg.cn/blog/developer/wiki/16x16.png"/>
    <a style="font-weight: lighter;font-size: 12px;" href="">{{user.last_name}} </a>
    <a style="font-weight: lighter;font-size: 12px;" href="/auth/weibo_logout">&#x9000;&#x51FA;</a>
    {% endifequal %}

    {% ifequal user.first_name "tweibo"%}
    <img src="http://mat1.gtimg.com/app/opent/images/wiki/share/16.png" />
    <a style="font-weight: lighter;font-size: 12px;" href="">{{user.last_name}} </a>
    <a style="font-weight: lighter;font-size: 12px;" href="/auth/tweibo_logout">&#x9000;&#x51FA;</a>
    {% endifequal %}

   {% ifequal user.first_name "qq" %}
   <img src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_1.png"/>
   <a style="font-weight: lighter;font-size: 12px;" href="">{{user.last_name}} </a>
   <a style="font-weight: lighter;font-size: 12px;" href="/auth/qq_logout">&#x9000;&#x51FA;</a>
   {% endifequal%}
{% else %}
    <a href="/auth/weibo_login"><img src="http://www.sinaimg.cn/blog/developer/wiki/LOGO_16x16.png"  alt="&#x5FAE;&#x535A;&#x767B;&#x5F55;" title= "&#x5FAE;&#x535A;&#x767B;&#x5F55;"/> </a>
    <a href="/auth/tweibo_login"><img src="http://mat1.gtimg.com/app/opent/images/wiki/share/16.png" alt="&#x817E;&#x8BAF;&#x5FAE;&#x535A;&#x767B;&#x5F55;" title= "&#x817E;&#x8BAF;&#x5FAE;&#x535A;&#x767B;&#x5F55;"/> </a>
    <span id="qqLoginBtn"></span>
<script type="text/javascript">
   QC.Login({
       btnId:"qqLoginBtn",
       scope:"all",
       size: "C_S"
   }, function(reqData, opts) {
       var dom = document.getElementById(opts['btnId']),
       _logoutTemplate=[

            '<span><img src="{figureurl}" class="{size_key}"/></span>',

            '<span>{nickname}</span>',

            '<span><a href="javascript:QC.Login.signOut();">XX</a></span>'
       ].join("");
       dom && (dom.innerHTML = QC.String.format(_logoutTemplate, {
           nickname : QC.String.escHTML(reqData.nickname),
           figureurl : reqData.figureurl
       }));

       var par={format:"json"};
       QC.api("get_info", par)
           .success(function(s) { 
              window.location.href="/auth/qq_auth_end?name=" + s.data.data.name + "&nick=" + s.data.data.nick
           })
           .error(function(f){ })
           .complete(function(c){ });
   }, function(opts) {
   }
);
</script>

{% endif %}
